<div class="dashboard grey lighten-3" ng-controller="CommissionController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="p-20 clearfix">
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">{{pageTitle}}</span>
        </h4>
      </div>
      
      <div class="p-20 no-p-t">
        <div class="card">
            <div class="table-search">
              <input type="text" class="form-control" ng-model="keyword" placeholder="Search Commission" autofocus />
            </div>
        </div>
          
        <div class="row" ng-if="addEditUser">
            <div class="col-md-12">
                <div class="well white">
                    <form class="form-floating">
                      <fieldset>
                        <legend>Create Sales</legend>
                        <span class="help-block">Please fill out the following form below.</span>
                        <div class="form-group">
                          <ui-select ng-model="sale.product" theme="select2" title="Choose a product" search-enabled="false">
                            <ui-select-match placeholder="Select or search a product in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in products | filter: $select.search">
                              <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                        <div class="form-group">
                          <ui-select ng-model="sale.user" theme="select2" title="Choose a person" search-enabled="false">
                            <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in users | filter: $select.search">
                              <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </fieldset>
                      <div>
                        <button class="btn btn-success" ng-click="saveSales()">Save<div class="ripple-wrapper"></div></button>
                        <button class="btn btn-default" ng-click="hideAddEditUser()">Cancel<div class="ripple-wrapper"></div></button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
          
        <div class="row m-b-40">
            <div class="col-md-12">
              <div class="card no-margin">

                <div class="table-responsive white">
                  <h3 class="table-title p-20">
                      Buy Value ({{(bv) ? bv.length:0}})
                      <button ng-click="addEditUser = true" type="button" class="btn btn-xs btn-round btn-success"><span class="md md-add"></span><div class="ripple-wrapper"></div></button>
                  </h3>
									<h4 class="table-title">Total Buy Value: {{total_bv}}</h4>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
											<th>Email</th>
											<th>Value</th>
											<th>Level</th>
											<th>Commission</th>
											<th>CV</th>
											<th>Date</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="user in bv | filter:keyword">
											<tr ng-repeat="item in user.data.bv">
												<td>{{ user.data.id }}</td>
												<td>{{ user.data.name }}</td>
												<td>{{ user.data.email }}</td>
												<td>{{ item.value }}</td>
												<td>{{ user.level }} <span ng-if="user.level === 1">(Direct)</span></td>
												<td>{{ (getCommission(user.level).rate) ? getCommission(user.level).rate + ' - ' + user.data.membership[0].discount:'-' }}</td>
												<td>{{ calculateCommission(getCommission(user.level).rate, user.data.membership[0].discount, item.value) }}</td>
												<td>{{ item.created_at }}</td>
												<td>
														<button type="button" 
																		title="Delete"
																		data-animation="am-fade-and-slide-top" 
																		data-template="assets/tpl/partials/confirm_delete.html" 
																		bs-modal="modal"
																		class="btn btn-xs btn-round btn-danger" 
																		ng-click="setDeleteUser(item, $index)"><span class="md md-delete"></span><div class="ripple-wrapper"></div></button>
												</td>
											</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <div class="grey-text small p-t-20" ng-cloak>JACE - v{{APP.version}}</div>
      </div>
      
    </div>
 </div>
</div>