<div class="dashboard grey lighten-3" ng-controller="DashboardController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

      <div class="p-20 clearfix">
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">Dashboard</span>
        </h4>
      </div>

      <div class="p-20 no-p-t">
        <div class="card">
            <div class="table-search">
              <input type="text" class="form-control" 
                     ng-model="user_keyword" 
                     placeholder="Search User" autofocus />
            </div>
        </div>
          
        <div class="row" ng-if="addEditUser">
            <div class="col-md-12">
                <div class="well white">
                    <form class="form-floating">
                      <fieldset>
                        <legend>Create User {{(selected_parent) ? 'under (' + selected_parent.name + ')':''}}</legend>
                        <span class="help-block">Please fill out the following form below.</span>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Email</label>
                          <input type="text" class="form-control" ng-model="new_user.email">
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Name</label>
                          <input type="text" class="form-control" ng-model="new_user.name">
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Password</label>
                          <input type="password" class="form-control" ng-model="new_user.password">
                        </div>
												<div class="form-group">
                          <label for="inputEmail" class="control-label">Address</label>
                          <textarea class="form-control vertical" rows="3" id="textArea" placeholder="" ng-model="new_user.address"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">IC No.</label>
                          <input type="text" class="form-control" ng-model="new_user.ic_no">
                        </div>
												<div class="form-group">
                          <label for="inputEmail" class="control-label">Type</label>
													<select ng-model="new_user.type">
														<option value="individual">Individual</option>
														<option value="company">Company</option>
													</select>
                        </div>
												<div class="form-group">
                          <label for="inputEmail" class="control-label">Bank Name</label>
                          <input type="text" class="form-control" ng-model="new_user.bank_name">
                        </div>
												<div class="form-group">
                          <label for="inputEmail" class="control-label">Account No.</label>
                          <input type="text" class="form-control" ng-model="new_user.bank_acc">
                        </div>
												<div class="form-group">
                          <label for="inputEmail" class="control-label">Swift Code</label>
                          <input type="text" class="form-control" ng-model="new_user.bank_swift">
													<span class="help-block">if required</span>
                        </div>
                      </fieldset>
                      <div>
                        <button class="btn btn-success" ng-click="saveUser()">Save<div class="ripple-wrapper"></div></button>
                        <button class="btn btn-default" ng-click="hideAddEditUser()">Cancel<div class="ripple-wrapper"></div></button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
          
        <div class="row users">
            <div class="col-md-12">
              <div class="card no-margin">
                <div class="table-responsive white">
                  <h3 class="table-title p-20">
                      Users
                      <button ng-click="addEditUser = true" type="button" class="btn btn-xs btn-round btn-success"><span class="md md-add"></span><div class="ripple-wrapper"></div></button>
                  </h3>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Parent</th>
                      <th>IC No.</th>
                      <th>Total Children</th>
                      <th>Enabled</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in users | filter:user_keyword track by $index ">
                      <td class="f20">{{$index+1}}</td>
                      <td>{{ row.name }}</td>
                      <td ng-init="parent = getParent(row)">{{ (parent) ? parent[0].name:'-'}}</td>
                      <td>{{ row.ic_no }}</td>
                      <td><a href ng-click="checkChildren(row)">{{(row.total_children != undefined) ? row.total_children:'Check'}}</a></td>
                      <td>{{(row.enabled == 1) ? 1:0}}</td>
                      <td>
                          <ul class="actions">
                              <li ng-if="row.enabled != 1"><a href ng-click="approveUser(row)">Approve</a></li>
                              <li><a href ng-click="addUser(row)">Add User</a></li>
                          </ul>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        
        <div class="row" ng-show="showError">
            <div class="col-md-12">
              <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <h4>Item Not Found!</h4>
                </div>
              </div>
            </div>
        </div>
        <div class="grey-text small p-t-20" ng-cloak>SkyNature - v{{APP.version}}</div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">

      <div class="p-20">
        <h4 class="grey-text m-b-30">FAQ</h4>

        <div class="card">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="md md-android"></i>
                How to create user
              </li>
              <li class="list-group-item">
                <i class="md md-add-box"></i>
                Setting Commission
              </li>
              <li class="list-group-item">
                <i class="md md-apps"></i>
                Porta ac consectetur ac
              </li>
              <li class="list-group-item">
                <i class="md md-radio"></i>
                Vestibulum at eros
              </li>
              <li class="list-group-item">
                <i class="md md-adjust"></i>
                Dapibus ac facilisis in
              </li>
            </ul>
          </div>
      </div>

    </div>

  </div>


</div>
