<div class="dashboard grey lighten-3" ng-controller="ProductController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="p-20 clearfix">
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">{{pageTitle}}</span>
        </h4>
      </div>
      
      <div class="p-20 no-p-t">
        <div class="card">
            <div class="table-search">
              <input type="text" class="form-control" ng-model="keyword" placeholder="Search Product" autofocus />
            </div>
        </div>
          
        <div ng-controller="UploadController" class="row" ng-if="addEditUser">
            <div class="col-md-12">
                <div class="well white">
                    <form class="form-floating">
                      <fieldset>
                        <legend>Create Product</legend>
                        <span class="help-block">Please fill out the following form below.</span>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Name</label>
                          <input type="text" class="form-control" ng-model="product.name" value="{{product.name}}">
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Price</label>
                          <input type="text" class="form-control" ng-model="product.price" value="{{product.price}}">
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Quantity</label>
                          <input type="text" class="form-control" ng-model="product.qty" value="{{product.qty}}">
                        </div>
												<div>
													<div class="form-group">
														<div class="btn btn-info" multiple ng-multiple ngf-select ng-model="product_files">Upload with button</div>
													</div>
													<ul style="clear:both" ng-show="files.length > 0" class="response list-unstyled">
														<li class="sel-file" ng-repeat="f in files track by $index">
															<img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
															<span class="progress" ng-show="f.progress >= 0">
																<div style="width:{{f.progress}}%">{{f.progress}}%</div>
															</span>
															<button class="button" ng-click="f.upload.abort();f.upload.aborted=true"
																			ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
															{{f.name}} - size: {{f.size}}B - type: {{f.type}}
															<a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
															<div ng-show="f.showDetail">
																<br/>
																<div data-ng-show="f.result.result == null">{{f.result}}</div>
																<ul>
																	<li ng-repeat="item in f.result.result">
																		<div data-ng-show="item.name">file name: {{item.name}}</div>
																		<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
																		<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
																		<div data-ng-show="item.value">value: {{item.value}}</div>
																	</li>
																</ul>
																<div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
															</div>
														</li>
													</ul>

												</div>
                      </fieldset>
                      <div>
                        <button class="btn btn-success" ng-click="saveProduct()">Save<div class="ripple-wrapper"></div></button>
                        <button class="btn btn-default" ng-click="hideAddEditUser()">Cancel<div class="ripple-wrapper"></div></button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
          
        <div class="row m-b-40">
            <div class="col-md-12">
              <div class="card no-margin">

                <div class="table-responsive white">
                  <h3 class="table-title p-20">
                      Product ({{products.length}})
                      <button ng-click="addEditUser = true" type="button" class="btn btn-xs btn-round btn-success"><span class="md md-add"></span><div class="ripple-wrapper"></div></button>
                  </h3>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Qty</th>
                      <th>Price</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="(key, item) in products | filter:keyword">
                      <td>{{ item.id }}</td>
                      <td>
												<a ng-show="item.images.length > 0"  ng-href="uploads/{{item.images[0].name}}">
													<img ng-src="uploads/{{item.images[0].name}}" class="product-thumbnail">
												</a>
												<a ng-click="showAddEdit(item)">{{ item.name }}</a>
											</td>
                      <td>{{ item.qty }}</td>
                      <td>{{ item.price }}</td>
                      <td>
                          <button type="button" 
                                  title="Delete"
                                  data-animation="am-fade-and-slide-top" 
                                  data-template="assets/tpl/partials/confirm_delete.html" 
                                  bs-modal="modal"
                                  class="btn btn-xs btn-round btn-danger" 
                                  ng-click="setDeleteItem(item, $index)"><span class="md md-delete"></span><div class="ripple-wrapper"></div></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <div class="grey-text small p-t-20" ng-cloak>JACE - v{{APP.version}}</div>
      </div>
      
    </div>
 </div>
</div>