<div class="dashboard grey lighten-3" ng-controller="SalesController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="p-20 clearfix">
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">{{pageTitle}}</span>
        </h4>
      </div>
      
      <div class="p-20 no-p-t">
        <div class="card">
            <div class="table-search">
              <input type="text" class="form-control" ng-model="keyword" placeholder="Search Sales" autofocus />
            </div>
        </div>
          
        <div class="row" ng-if="addEditUser">
            <div class="col-md-12">
                <div class="well white">
                    <form class="form-floating">
                      <fieldset>
                        <legend>Create Sales</legend>
                        <span class="help-block">Please fill out the following form below.</span>
                        <div class="form-group">
                            <label class="control-label">Select User</label>
                            <select class="form-control" ng-model="sale.user.id">
                                <option ng-repeat="item in users" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                                            <div class="form-group">
                                                <div class="selected-product" ng-repeat="item in sale.product track by $index">
                                                  <div>{{item.name}}</div>
                                                  <div>Qty: {{item.quantity}}</div>
                                                  <a href ng-click="deleteItem($index)"><span class="md md-delete"></span></a>
                                                </div>
                                                <button type="button" 
                              title="Delete"
                              data-animation="am-fade-and-slide-top" 
                              data-template="assets/tpl/partials/select_product.html" 
                              bs-modal="modal"
                              class="btn btn-default" 
                              >Add Product<div class="ripple-wrapper"></div></button>
													
													
													
													<!--
													<label class="control-label">Select Product</label>
													<select class="form-control" ng-model="sale.product.id">
														<option ng-repeat="item in products" value="{{item.id}}">{{item.name}}</option>
													</select>
													-->
												</div>
                      </fieldset>
                      <div>
                        <button class="btn btn-success" ng-click="saveSales()">Save<div class="ripple-wrapper"></div></button>
                        <button class="btn btn-default" ng-click="hideAddEditUser()">Cancel<div class="ripple-wrapper"></div></button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
          
        <div class="row m-b-40">
            <div class="col-md-12">
              <div class="card no-margin">

                <div class="table-responsive white">
                  <h3 class="table-title p-20">
                      Sales ({{sales.length}})
                      <button ng-click="addEditUser = true" type="button" class="btn btn-xs btn-round btn-success"><span class="md md-add"></span><div class="ripple-wrapper"></div></button>
                  </h3>
                  <h4 class="table-title">Total Sales: {{total_sales}}</h4>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
											<th>Unit Price</th>
											<th>Quantity</th>
											<th>Sub Total</th>
											<th>Discount</th>
											<th>Total</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="(key, item) in sales | filter:keyword">
                      <td>{{ item.id }}</td>
                      <td>{{ item.product[0].name }}</td>
											<td>{{ item.product[0].price }}</td>
											<td>{{ item.quantity }}</td>
											<td>{{ item.subtotal }}</td>
											<td>{{ item.discount }}</td>
											<td>{{ item.total }}</td>
                      <td>{{ item.user[0].name }}</td>
                      <td>{{ item.created_at }}</td>
                      <td>
                          <button type="button" 
                                  title="Delete"
                                  data-animation="am-fade-and-slide-top" 
                                  data-template="assets/tpl/partials/confirm_delete.html" 
                                  bs-modal="modal"
                                  class="btn btn-xs btn-round btn-danger" 
                                  ng-click="setDeleteItem(item, $index)"><span class="md md-delete"></span><div class="ripple-wrapper"></div></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <div class="grey-text small p-t-20" ng-cloak>JACE - v{{APP.version}}</div>
      </div>
      
    </div>
 </div>
</div>