<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
    </div>
    SkyNature
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name">{{user.name}}</div>
      <div class="user-email">{{user.email}}</div>
      <div class="user-actions">
        <a ng-click="logout()">logout</a>
      </div>
    </div>
  </div>
  <ul class="menu-links" ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Dashboard</a>
    <a menu-link href="#/product" icon="">Products</a>
    <a menu-link href="#/sales" icon="">Sales</a>
    <a menu-link href="#/commission" icon="">Commission</a>
    <a menu-link href="#/user" icon="">Users</a>
    <li menu-toggle path="/settings" name="Settings" icon="md md-photo">
      <a menu-link href="#/settings/commission">Commission</a>
    </li>
  </ul>
</aside>
