.breadcrumb > li + li:before{
    content: "/\00a0" !important;
}

#logo{
	background: transparent;
	background: url(../img/logo_transparent.png) center center no-repeat;
	background-size:contain;
	width: 200px; height: 75px;
	/*
    background: url(../img/favicon/favicon-196x196.png) center center no-repeat;
    background-size:contain;
    width: 45px;
    height: 45px;
    vertical-align: middle;
	*/
}

.quote tfoot{ border-top: 2px solid #9f9f9f; }
.quote .label_right{
    text-align: right !important;
    padding-right: 5px;
}
.quote .total{
    font-size: 1.5em;
}
.quote td{ vertical-align: top !important; }

.table-full-small tfoot > tr > td:first-child{
    padding-left: 20px; 
}

.modal { text-align: left !important; }

.monotextarea{
  border:1px solid #999999;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

}

a{ cursor: pointer; }

.actions{ padding: 0; }
.actions li{
  display: inline-block;
  margin-right: 5px; 
}

.users tr td ul li{
    border-right: 1px solid #ccc;
    padding-right: 10px;
    line-height: 15px;
}
.users tr td ul li:last-child{
    border: none;
}

.thumb{ min-height: 27px; }
.product-thumbnail{
	width: 50px;
}

.node {
	cursor: pointer;
}

.overlay{
		background-color:#EEE;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size:10px; 
	font-family:sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show{
		display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
		 display: none;
}

#tree-container{ min-height: 500px; }
